Source: openal-soft
Section: libs
Priority: extra
Maintainer: Shin Seung Bae <seungbae.shin@samsung.com> Choi Jong Hyuk <jhchoi.choi@samsung.com> 
Uploaders: Young Hwan Ahn <younghwan_.an@samsung.com> Cho Ye Jin <cho.yejin@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libavsystem-dev, libpulse-dev, libaudiosessionmgr-dev, libmm-session-dev
Standards-Version: 3.7.2

Package: libopenal-soft-dev
Section: libdevel
Architecture: any
Depends: libopenal-soft (= ${Source-Version}), libavsystem-sdk-dev, libpulse-dev, libaudiosessionmgr-sdk-dev, libmm-session-sdk-dev
Description: OpenAL library software implementation development package

Package: libopenal-soft
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libavsystem-0, libpulse0, libaudiosessionmgr-0, libmm-session-0
Description: OpenAL library software implementation

Package: libopenal-soft-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenal-soft (= ${Source-Version})
Description: OpenAL library software implementation debug package (unstripped)
